body {
  font: 400 16px 'Helvetica Neue', Helvetica, Arial, sans-serif;
  background-color: #fdfdfd;
  max-width: 1000px;
  color: #424242;
  padding: 1em;
}

ul,
ol {
  list-style-type: square;
  margin-left: 0em;
}

img {
  vertical-align: middle;
  max-width: 100%;
}

a,
a:visited {
  text-decoration: none;
  color: #424242;
}

a:hover,
a:focus {
  text-decoration: underline;
  background-color: azure;
  color: #2a7ae2;
}

.site-title,
.site-title:visited {
  font-size: 50px;
  color: #424242;
}

.post-title,
.post-title:visited {
  font-size: 30px;
}
