svg {
  background-color: azure;
}

.links line {
  stroke: black;
  stroke-width: 10px;
  stroke-opacity: 0.6;
}
.links line:hover {
  stroke: red;
  stroke-opacity: 0.8;
}

.nodes circle {
  stroke-width: 2px;
  stroke: white;
  fill: black;
}
.nodes circle:hover {
  stroke: red;
  fill: #fee;
}

#container {
  margin: 1em 4em 1em 0em;
  height: 400px;
  width: 100%;
}

p {
  background-color: azure;
  padding: 1em;
}
