---
layout: default
---

<p>
  view by:
  <a href="{{ site.baseurl }}/authors">author</a>
  | <a href="{{ site.baseurl }}/time">year</a>
  | <a href="{{ site.baseurl }}/conf">publisher</a>
</p>

<span class="post-title" >{{ page.title }}</span>

{{ content }}

others

<ul>
  <li><a href="https://docs.google.com/document/d/1wJOSWdT2kC-03HZuhzuXuILhHKOGhtXH4JrvQmsvR4w/edit">updated hci list, ~2025</a></li>
  <li><a href="https://shmothy.wordpress.com/2023/05/26/my-post-prelim-notes-2-years-later/">shm almeda, ~2023</a></li>
  <li><a href="https://molecule.github.io/post/prelims%20from%20my%20perspective/">molly nicholas, ~2017</a></li>
  <li><a href="https://people.eecs.berkeley.edu/~bjoern/prelims">björn hartmann, ~2015</a></li>
  <li><a href="https://people.eecs.berkeley.edu/~jfc/hci-prelim-syllabus.html">john canny, ~2002</a></li>
</ul>

